<!-- src/app/app.component.html -->
<div class="app-container">
    <p-toast></p-toast>
    
    <div class="header">
        
      <h1>Library Management System</h1>
        <div class="theme-toggle">
            <p-button [icon]="themeIcon" (onClick)="toggleDarkMode()" class="dark-mode-toggle"/>
        </div>
    </div>
    
    <!-- Use p-tabMenu component -->
    <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="mb-3"></p-tabMenu>
    
    <!-- Content area -->
    <div class="content-container">
      <app-book-list *ngIf="activeTab === 'books'"></app-book-list>
      <app-borrowed-books *ngIf="activeTab === 'borrowed'"></app-borrowed-books>
      <app-wishlist *ngIf="activeTab === 'wishlist'"></app-wishlist>
    </div>
</div>
  